@keyframes heroSlider {
  0% {
    background-image: url("/images/hero.png");
  }
  55% {
    background-image: url("/images/hero2.png");
  }
  100% {
    background-image: url("/images/hero3.png");
  }
}
