@media (max-width: 768px) {
  .container {
    padding: 0 20px !important;
  }

  .nav__lists,
  .nav__btn {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile__nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background-color: var(--clr-white);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 57px;
  }

  .mobile__nav-exit {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: var(--clr-black);
    display: grid;
    place-content: center;
    align-self: flex-end;
  }

  .mobile__nav-lists {
    display: grid;
    place-content: center;
    text-align: center;
    list-style: none;
    gap: 20px;
  }
}
